/* Body Styling properties example */

body {
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
	font-size: 16px;
}
a {
	color: #339933;
}
h1{
	font-family: Andalus,Garamond,serif;
	font-size: 48px;
}

h3{
	font-family: Andalus,Garamond,serif;
	font-size: 24px;
	font-weight: bold;
	font-align: center;
}
a:hover {
	color: #333333;
}
.navbar{
	min-height:65px;
}
.navbar-inverse {
	font-family: Andalus, Calibri, sans-serif;
	background-color: #000000;
	border-color: #666666;
    font-size: 22px;
}
.navbar-inverse .navbar-brand {
  color: #339933;
  font-style: bold;
  font-size: 28px;
}

.topnav a.active {
    background-color: #4CAF50;
    color: #ffffff;
}
.portfolio-item{
	text-align:middle;
}
